h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #E86B92;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #E86B92;
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3b3b3b;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

button {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    border-color: white;
}

.button-more-section {
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px
}

.button-more {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
}

.button-categories {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    width: 200px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.flex-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header-background {
    background-color: #4e7ce6;
    padding: 10px 20px 10px 20px;
}

.logo {
    height: 70px;
}

.icon-profile {
    height: 40px;
}

.splash {
    background-image: url("./pictures/Barcelona_splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
}

.search-input {
    border-color: #E86B92;
    border-radius: 5px;
    height: 18px;
    margin-bottom: 20px;
}

.city-article {
    display: flex;
    justify-content: center;
}

.city-picture {
    height: 300px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.screen {
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    border: 2px solid #4e7ce6;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}