body {
    background-color: #ffd1d8;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #E86B92;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #E86B92;
    text-shadow: 2px 2px white;
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3b3b3b;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

button {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    border-color: white;
}

#home {
    text-decoration: none;
}

#button-mui {
    color: #4e7ce6;
    border: 1px solid #4e7ce6;
    background-color: white;
}

#button-mui:hover {
    color: white;
    border: 1px solid white;
    background-color: #4e7ce6;
}

#rating-mui {
    color: #E86B92;
    font-size: 18px;
}

.center {
    display: flex;
    justify-content: center;
}

.button-more-section {
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px
}

.button-more {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
}

.button-blue {
    height: 20px;
    width: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #4e7ce6;
    border-radius: 5px;
    margin-top: 10px;
}

.button-blue:hover {
    color: white;
    background-color: #E86B92;
    cursor: pointer;
}

.button-categories {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    width: 200px;
}

.button-nav {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    width: 80px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.flex-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header-background {
    background-color: #4e7ce6;
    padding: 10px 20px 10px 20px;
}

.logo {
    height: 70px;
}

.icon-profile {
    height: 40px;
}

.splash {
    background-image: url("./pictures/Barcelona_splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
}

.search-input {
    border-color: #E86B92;
    border-radius: 5px;
    height: 18px;
    margin-bottom: 20px;
}

.city-article {
    display: flex;
    justify-content: center;
}

.city-picture {
    height: 300px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.screen {
    height: 100vh;

}

.box {
    display: flex;
    flex-direction: column;
    border: 2px solid #4e7ce6;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    border-radius: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-location {
    margin-left: 20px;
}

.post-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #4e7ce6;
    border-radius: 5px;
    width: 60vw;
    padding: 20px;
}

.post-box p {
    margin: 0
}

.post-img {
    width: 63vw;
    margin-bottom: 20px;
}

.post-label {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    border-color: white;
}

.post-labels {
    margin-bottom: 20px;
}

.post-rating {
    display: flex;
    align-items: center;
}

.post-icon {
    font-size: 18px;
    color: #4e7ce6;
}

.post-icon:hover {
    cursor: pointer;
}

.show-comments {
    color: #4e7ce6;
    cursor: pointer
}

.comment {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    border-radius: 2px;
    margin-bottom: 5px;
    padding-left: 3px;
    background: #4e7ce61d;
    align-items: center;
}

.comment-owner {
    color: #4e7ce6;
    font-size: 14px;
}

.icons {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    gap: 10px;

}