body {
    background-color: #ffd1d8;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #E86B92;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #E86B92;
    text-shadow: 2px 2px white;
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3b3b3b;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

button {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    border-color: white;
}

#button-upload {
    color: #4e7ce6 !important;
    border: 1px solid #4e7ce6 !important;
    background-color: white !important;
    padding: 5px;
}

#button-upload:hover {
    color: white !important;
    border: 1px solid white !important;
    background-color: #4e7ce6 !important;
    padding: 5px;
    cursor: pointer;
}

#home {
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
}

.button-more-section {
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px
}

.button-more {
    height: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
}

.button-blue {
    height: 20px;
    width: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #4e7ce6;
    border-radius: 5px;
    margin-top: 10px;
}

.button-blue:hover {
    color: white;
    background-color: #E86B92;
    cursor: pointer;
}

.button-mui {
    color: #4e7ce6 !important;
    border: 1px solid #4e7ce6 !important;
    background-color: white !important;
}

.button-mui:hover {
    color: white !important;
    border: 1px solid white !important;
    background-color: #4e7ce6 !important;
}

.button-mui-activated {
    color: white !important;
    border: 1px solid white !important;
    background-color: #4e7ce6 !important;
}

.button-categories {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    width: 200px;
}

.button-nav {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    padding: 5px 10px;
    width: auto;
    transition: 0.25s ease;
}

.button-nav:hover {
    cursor: pointer;
    color: #E86B92;
    background-color: white;
    transform: scale(1.05);

}

.button-login {
    margin-top: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.flex-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header-background {
    box-sizing: border-box;
    background-color: #4e7ce6;
    padding: 10px 20px;
}

.header-nav {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

/*left and right for responsiveness*/
.header-left {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.7rem;
}

.header-owner {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.logo {
    height: 70px;
}

.icon-profile {
    height: 40px;
}

.splash {
    background-image: url("./pictures/Barcelona_splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
}

.search-input {
    border-color: #E86B92;
    border-radius: 5px;
    height: 18px;
    margin-bottom: 20px;
}

.city-article {
    display: flex;
    justify-content: center;
}

.city-picture {
    height: 300px;
    border-radius: 5px;
}

.city-card {
    background-color: #ffffffcf;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.groups-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: top;
    margin: 20px;
    gap: 40px;
}

.screen {
    height: 100vh;

}

.box {
    display: flex;
    flex-direction: column;
    border: 2px solid #4e7ce6;
    border-radius: 5px;
    width: 60vw;
    padding: 5vw;
    margin: 10vw auto;
}

.myprofile-picture {
    height: 180px;
    width: 180px;
}

.myprofile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffffcf;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    border-radius: 10px;
}

.post-caption {
    text-align: left;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-location {
    margin-left: 20px;
    text-align: left;
}

.post-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #4e7ce6;
    border-radius: 5px;
    width: 60vw;
    padding: 20px;
}

.post-box p {
    margin: 0
}

.post-img {
    width: 63vw;
    margin-bottom: 20px;
}

.post-img-small-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: flex-start;
}

.post-img-small {
    width: 10vw;
    margin-bottom: 20px;
}

.post-label {
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #E86B92;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

.post-labels {
    margin-bottom: 20px;
}

.post-rating {
    display: flex;
    align-items: center;
}

.post-icon {
    font-size: 18px;
    color: #4e7ce6;
}

.post-icon:hover {
    cursor: pointer;
}

.show-comments {
    color: #4e7ce6;
    cursor: pointer
}

.comment {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    border-radius: 2px;
    margin-bottom: 5px;
    padding-left: 3px;
    background: #4e7ce61d;
    align-items: center;
}

.comment-owner {
    color: #4e7ce6;
    font-size: 14px;
    padding-right: 5px;
}

.icons {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    gap: 10px;

}

.white-background {
    background-color: #ffffffcf;
    border-radius: 4px;
}

.results {
    margin: 20px;
}

.upload-url {
    margin: 0;
    color: #4e7ce6;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .splash {
        background-image: url("./pictures/Barcelona_splash_small.jpg");
        height: 50vh;
    }

    .groups-grid {
        grid-template-columns: 1fr;
    }

    .post-grid {
        grid-template-columns: 1fr;
    }

    .post-img {
        width: 70vw;
    }

    .post-box {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .header-background {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .icon-profile {
        height: 30px;
    }

    .logo {
        height: 40px;
    }
}